<div class="hidden">
  <ul>
    <li>San Francisco</li>
    <li>Students</li>
    <li>Teaching Assistants</li>
    <li>Career Advisors</li>
    <li>Cats</li>
  </ul>
  <ul>
    <li>Bootcamp Prep</li>
    <li>Students</li>
    <li>Instructors</li>
    <li>Cats</li>
  </ul>
  <ul>
    <li>Online</li>
    <li>Immersive</li>
    <li>Bootcamp</li>
    <li>Cats</li>
  </ul>
  <ul>
    <li>Sales</li>
    <li>Associates</li>
    <li>Analytics</li>
    <li>Cats</li>
  </ul>
  <ul>
    <li>Alumni</li>
    <li>Students</li>
    <li>Companies</li>
    <li>Opinions</li>
    <li>Cats</li>
  </ul>
</div>
