/* PHASE 8: Thumbs */
.thumb-list li {
  display: inline-flex;


  width: 58px;
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.thumb-list li:nth-child(3n+3){
  margin-right: 0px;
}

.thumb:hover:before{
  display: block;
}

.thumb:before{

  content: attr(title);
  display: none;
  position: absolute;
  /*bottom: 75px;
  left: 50%;*/
  /*-webkit-transform: translateX(-50%);*/

  transform: translateX(-23%);
  padding: 10px 20px;
  background: #000;
  color: white;
  white-space: nowrap;
  border-radius: 5px;

}
.thumb:after{

  display: none;
  position: absolute;
  /*bottom: 65px;
  left: 50%;
  margin-left: -10px;*/
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-bottom: 0 solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  background: transparent;

}
/*
.thumb:hover:after{
padding: 10px 15px;
content: attr(title);
position: absolute;
color: white;
background: black;

}*/
