* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

li {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: inherit;
}
